#khong commit thu muc build ngoai tru thu muc video_bridge
!/build/
/build/*
!/build/keystore.jks

/temp
/local/builder.json
/library
/local
/settings
/.idea

!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/AndroidManifest.xml