#khong commit thu muc build ngoai tru thu muc video_bridge
!/build/
/build/*
!/build/jsb-binary/
!/build/keystore.jks

!/build/jsb-binary/
/build/jsb-binary/*
!/build/jsb-binary/frameworks/

!/build/jsb-binary/frameworks/
/build/jsb-binary/frameworks/*
!/build/jsb-binary/frameworks/runtime-src/

!/build/jsb-binary/frameworks/runtime-src/
/build/jsb-binary/frameworks/runtime-src/*
!/build/jsb-binary/frameworks/runtime-src/proj.ios_mac

!/build/jsb-binary/frameworks/runtime-src/proj.ios_mac
/build/jsb-binary/frameworks/runtime-src/proj.ios_mac/*
!/build/jsb-binary/frameworks/runtime-src/proj.ios_mac/video_bridge/
!/build/jsb-binary/frameworks/runtime-src/proj.ios_mac/inapp_bridge/

!/build/jsb-binary/frameworks/runtime-src/proj.ios_mac/ios/
/build/jsb-binary/frameworks/runtime-src/proj.ios_mac/ios/*
!/build/jsb-binary/frameworks/runtime-src/proj.ios_mac/ios/AppController.mm


/temp
/local/builder.json
/library
/local
/settings
/.idea

!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/

!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/
/build/jsb-binary/frameworks/runtime-src/proj.android-studio/*
!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/

!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/
/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/*
!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/

!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/
/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/*
!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/

!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/
/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/*
!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/

!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/
/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/*
!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/

!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/
/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/*
!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/SmIAB.java
!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/org/cocos2dx/javascript/AppActivity.java

!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/com/
!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/src/main/


!/build/jsb-binary/frameworks/runtime-src/proj.android-studio/app/AndroidManifest.xml
