<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_feekback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{137,1},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fullversion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,66}</string>
                <key>spriteSourceSize</key>
                <string>{197,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_moreapp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{137,90},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_moreapp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,66}</string>
                <key>spriteSourceSize</key>
                <string>{197,66}</string>
                <key>textureRect</key>
                <string>{{69,1},{197,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_rate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{223,1},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{223,90},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_button.png</string>
            <key>size</key>
            <string>{308,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:159d128b23774b5885c590a7e0fd120d:220647c58708da6ab38dac77444d48cd:6c5eb8f857456e840feca23d22135c88$</string>
            <key>textureFileName</key>
            <string>main_button.png</string>
        </dict>
    </dict>
</plist>
