<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{528,469}</string>
                <key>spriteSourceSize</key>
                <string>{568,481}</string>
                <key>textureRect</key>
                <string>{{1,65},{528,469}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{419,1},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,61}</string>
                <key>spriteSourceSize</key>
                <string>{360,65}</string>
                <key>textureRect</key>
                <string>{{59,1},{358,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{482,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10c0c1843d95cd867db244793d822ef4:6580448b0edaf53d8d8ab0a98a6c0279:a90c11ab0396de5086de12c3ccb699d4$</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
