<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{107,105}</string>
                <key>textureRect</key>
                <string>{{1484,348},{107,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,546}</string>
                <key>spriteSourceSize</key>
                <string>{451,546}</string>
                <key>textureRect</key>
                <string>{{1,1},{451,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bongbay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,280}</string>
                <key>spriteSourceSize</key>
                <string>{177,280}</string>
                <key>textureRect</key>
                <string>{{1687,1},{177,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_1to10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,65}</string>
                <key>spriteSourceSize</key>
                <string>{180,65}</string>
                <key>textureRect</key>
                <string>{{1302,348},{180,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_1to5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,65}</string>
                <key>spriteSourceSize</key>
                <string>{180,65}</string>
                <key>textureRect</key>
                <string>{{1302,415},{180,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fullversion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,85}</string>
                <key>spriteSourceSize</key>
                <string>{250,85}</string>
                <key>textureRect</key>
                <string>{{549,348},{250,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1591,348},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,80}</string>
                <key>spriteSourceSize</key>
                <string>{165,80}</string>
                <key>textureRect</key>
                <string>{{1135,348},{165,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,85}</string>
                <key>spriteSourceSize</key>
                <string>{152,85}</string>
                <key>textureRect</key>
                <string>{{1882,363},{152,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,88}</string>
                <key>spriteSourceSize</key>
                <string>{170,88}</string>
                <key>textureRect</key>
                <string>{{963,348},{170,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,74}</string>
                <key>spriteSourceSize</key>
                <string>{189,74}</string>
                <key>textureRect</key>
                <string>{{1969,1},{189,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,71}</string>
                <key>spriteSourceSize</key>
                <string>{181,71}</string>
                <key>textureRect</key>
                <string>{{1896,180},{181,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flag_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,120}</string>
                <key>textureRect</key>
                <string>{{801,348},{160,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag_learn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,165}</string>
                <key>spriteSourceSize</key>
                <string>{207,165}</string>
                <key>textureRect</key>
                <string>{{1687,180},{207,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag_practicle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,128}</string>
                <key>spriteSourceSize</key>
                <string>{193,128}</string>
                <key>textureRect</key>
                <string>{{1687,347},{193,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,171}</string>
                <key>spriteSourceSize</key>
                <string>{1136,171}</string>
                <key>textureRect</key>
                <string>{{549,175},{1136,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,172}</string>
                <key>spriteSourceSize</key>
                <string>{1136,172}</string>
                <key>textureRect</key>
                <string>{{549,1},{1136,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{2044,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e411cfabca821b65c994acd2d8e57f64:22552b6cd6831c56bfbabfa56c7ea754:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
