<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{338,50}</string>
                <key>spriteSourceSize</key>
                <string>{340,52}</string>
                <key>textureRect</key>
                <string>{{1,592},{338,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{222,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{97,592},{222,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close_pop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{321,878},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>download.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{222,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{97,816},{222,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{218,73}</string>
                <key>spriteSourceSize</key>
                <string>{238,91}</string>
                <key>textureRect</key>
                <string>{{281,592},{218,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playsong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{218,73}</string>
                <key>spriteSourceSize</key>
                <string>{238,91}</string>
                <key>textureRect</key>
                <string>{{356,592},{218,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{517,589}</string>
                <key>spriteSourceSize</key>
                <string>{589,595}</string>
                <key>textureRect</key>
                <string>{{1,1},{517,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,42}</string>
                <key>spriteSourceSize</key>
                <string>{331,42}</string>
                <key>textureRect</key>
                <string>{{53,592},{331,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ratebtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{222,90}</string>
                <key>spriteSourceSize</key>
                <string>{250,100}</string>
                <key>textureRect</key>
                <string>{{189,592},{222,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stop-download.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{321,812},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tracevideo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{218,73}</string>
                <key>spriteSourceSize</key>
                <string>{238,91}</string>
                <key>textureRect</key>
                <string>{{431,592},{218,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{519,931}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcfd7f56c9a445c2e17eeafa126db05b:95cb3a264ab91d2b8a4a1690ca1cc67c:a90c11ab0396de5086de12c3ccb699d4$</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
