<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{385,494},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_feedback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,80}</string>
                <key>textureRect</key>
                <string>{{1,494},{300,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_moreapp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,80}</string>
                <key>textureRect</key>
                <string>{{303,494},{300,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_rateus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,80}</string>
                <key>textureRect</key>
                <string>{{1,576},{300,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,80}</string>
                <key>textureRect</key>
                <string>{{1,658},{300,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,491}</string>
                <key>spriteSourceSize</key>
                <string>{496,491}</string>
                <key>textureRect</key>
                <string>{{1,1},{496,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{498,795}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76651f3a93c935e71eb75d46836c615b:4414a60671f4c62c2ad428a3ef1b5546:b9c870dc099f34bca3e3b2447514f602$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
