<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,38}</string>
                <key>spriteSourceSize</key>
                <string>{126,38}</string>
                <key>textureRect</key>
                <string>{{1311,151},{126,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{1245,151},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{309,236}</string>
                <key>spriteSourceSize</key>
                <string>{351,268}</string>
                <key>textureRect</key>
                <string>{{1,1},{309,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{309,236}</string>
                <key>spriteSourceSize</key>
                <string>{351,268}</string>
                <key>textureRect</key>
                <string>{{312,1},{309,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{309,236}</string>
                <key>spriteSourceSize</key>
                <string>{351,268}</string>
                <key>textureRect</key>
                <string>{{623,1},{309,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{309,236}</string>
                <key>spriteSourceSize</key>
                <string>{351,268}</string>
                <key>textureRect</key>
                <string>{{934,1},{309,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,38}</string>
                <key>spriteSourceSize</key>
                <string>{126,38}</string>
                <key>textureRect</key>
                <string>{{1311,191},{126,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xl8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,170}</string>
                <key>spriteSourceSize</key>
                <string>{148,170}</string>
                <key>textureRect</key>
                <string>{{1245,1},{148,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>learn.png</string>
            <key>size</key>
            <string>{1438,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a089382574141d0367f023c13d27d0d:9c80cc0b7a098f7361c79f8ba6076aff:e9e3bca89748ecf39c31f72509de8588$</string>
            <key>textureFileName</key>
            <string>learn.png</string>
        </dict>
    </dict>
</plist>
